<h1>Ticket <%= @ticket.request_number %></h1>

<p>Request Type: <%= @ticket.request_type %></p>
<p>Request Action: <%= @ticket.request_action %></p>

<h2>Excavator Details</h2>
<% if @ticket.excavator %>
  <p>
    <%= "Company: #{@ticket.excavator.company_name}, " \
         "Address: #{@ticket.excavator.address}, " \
         "City: #{@ticket.excavator.city}, " \
         "State: #{@ticket.excavator.state}" %>
  </p>
<% end %>

<br/>
<div id="map" data-controller="map" data-map-target="map" data-wkt="<%= @coordinates %>" data-map-sample-coordinates="<%= @sample_coordinates %>"  style="height: 400px;"></div>
